* {
	margin: 0;
	padding: 0;
	
	box-sizing: border-box;

	/*
	#FAFAFF // branco
	#D3AC69 // amarelo
	#E36322 // laranja
	#3AA394 // ciano
	#0197F6 // azul
	#6E5C62 // marrom claro 1
	#615458 // marrom claro 2
	#4C4347 // marrom
	#312A2C // marrom escuro
	*/
}

body {
	background-color: #6E5C62;
}

/* Generic */

.center {
	display: flex;
	justify-content: center;
}

.clickable {
	cursor: pointer;
}

/* Controller */

.controller {
	display: flex;
	flex-direction: column;
}

.controller_blocks {
	display: flex;
	margin: 1vh;
}

/* BlockCard */

.block_card {
	margin: 1vh;
}

/* SquareLine */

.square_line {
	display: flex;
}

/* Square */

.square {
	width: 6vh;
	height: 6vh;

	margin: 0.25vh;

	background-color: #6E5C62;

	border: 0.5vh solid #4C4347;
	border-radius: 1vh;

	line-height: 5vh;
	text-align: center;
	text-transform: uppercase;

	font-size: 4vh;
	font-weight: 600;
	font-family: monospace;
	color: #FAFAFF;

	transition: border-radius 0.05s ease-in;
}

.right {
	background-color: #3AA394;
}

.wrong {
	background-color: #312A2C;
}

.place {
	background-color: #D3AC69;
}

.blank {
	border: none;
	background-color: #615458;
}

.selected {
	border-radius: 3vh;
}

/* ColumnPallete & StatusPallete */

.pallete {
	display: flex;
	margin: 1vh;
}