* {
	margin: 0;
	padding: 0;
	
	box-sizing: border-box;

	/*
	#FAFAFF // branco
	#D3AC69 // amarelo
	#E36322 // laranja
	#3AA394 // ciano
	#0197F6 // azul
	#6E5C62 // marrom claro 1
	#615458 // marrom claro 2
	#4C4347 // marrom
	#312A2C // marrom escuro
	*/
}

body {
	background-color: #6E5C62;
}

/* Generic */

.center {
	display: flex;
	justify-content: center;
}

.clickable {
	cursor: pointer;
}

.switch {
	width: 6rem;
	height: 4rem;

	margin: 0.2rem;

	background-color: #6E5C62;

	border: 0.3rem solid #4C4347;
	border-radius: 2rem;

	transition: background-color 0.5s ease-out;
}

.inner_switch {
	width: 3rem;
	height: 3rem;

	margin: 0.2rem;

	background-color: #4C4347;

	border-radius: 1.5rem;
}

.switch_set {
	background-color: #FAFAFF;
}

.inner_switch_set {
	margin-left: 2.2rem;
}

/* Controller */

.controller {
	display: flex;
	flex-direction: column;
}

.controller_first_row {
	display: flex;
	margin: 0.5rem;
}

.controller_blocks {
	display: flex;
	margin: 0.5rem;
	flex-wrap: wrap;
}

/* BlockCard */

.block_card {
	margin: 0.5rem;
}

/* SquareLine */

.square_line {
	display: flex;
}

/* Square */

.square {
	width: 4rem;
	height: 4rem;

	margin: 0.2rem;

	background-color: #6E5C62;

	border: 0.3rem solid #4C4347;
	border-radius: 0.8rem;

	line-height: 3.4rem;
	text-align: center;
	text-transform: uppercase;

	font-size: 2.8rem;
	font-weight: 600;
	font-family: monospace;
	color: #FAFAFF;

	transition: border-radius 0.05s ease-in;
}

.right {
	background-color: #3AA394;
}

.right_colorblind {
	background-color: #0197F6;
}

.wrong {
	background-color: #312A2C;
}

.place {
	background-color: #D3AC69;
}

.place_colorblind {
	background-color: #E36322;
}

.blank {
	border: none;
	background-color: #615458;
}

.selected {
	border-radius: 2rem;
}

/* ColumnPallete & StatusPallete */

.pallete {
	display: flex;
	margin: 0.5rem;
}